<!--<div class="container">
    <div class="head">
        <select #chosenProfile (change) = "reload(chosenProfile.selectedIndex)">
            @for (profile of ProfileObject; track $index) {
                <option value="{{$index}}">{{profile.id}}</option>
            }
        </select>
        <h2>Felhasználói Profil</h2>
        <div class="avatar">{{ProfileObject[selectedIndex].avatar}}</div>
        <div class="user-email">{{ProfileObject[selectedIndex].email}}</div>
        @if (ProfileObject[selectedIndex].bought > 15) {
            <div class="tvas">Törzsvásárló</div>
        }
        <div class="adatok">Adatok</div> 
        <div class="vonal"></div> 
    </div>
        
        <table class="stats-table">
            
            <tr>
                <td>Megvásárolt jegyek</td>
                <td>{{ProfileObject[selectedIndex].bought}}</td>
            </tr>
            <tr>
                <td>Pontok</td>
                <td>{{ProfileObject[selectedIndex].points}}</td>
            </tr>
        </table>
</div>-->

<div class="container">
    <mat-card>
        <mat-card-header class="head">
          <mat-card-title>Felhasználói Profil</mat-card-title>
          <mat-form-field appearance="outline">
            <mat-label>Profil választás</mat-label>
            <mat-select class="" [value]="selectedIndex" (selectionChange)="reload($event.value)">
              @for (profile of ProfileObject; track $index) {
                <mat-option [value]="$index">{{profile.id}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="profile-info">
            <div class="avatar-container">
              <div class="avatar mat-elevation-z2">
                {{ProfileObject[selectedIndex].avatar}}
              </div>
            </div>
            <div class="user-details">
              <div class="user-email">
                <span>{{ProfileObject[selectedIndex].email}}</span>
              </div>
            </div>
          </div>

          <h2>Adatok</h2>
        </mat-card-header>
    
        <mat-card-content class="stats-section">
            <div class="stats-cards">
              <mat-card class="stat-card">
                <mat-card-header>
                  <mat-icon mat-card-avatar>assignment</mat-icon>
                  <mat-card-title>{{ProfileObject[selectedIndex].bought}}</mat-card-title>
                  <mat-card-subtitle>Megvásárolt jegyek</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
              
              <mat-card class="stat-card">
                <mat-card-header>
                  <mat-icon mat-card-avatar>done_all</mat-icon>
                  <mat-card-title>{{ProfileObject[selectedIndex].points}}</mat-card-title>
                  <mat-card-subtitle>Pontok</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
        </mat-card-content>
      </mat-card>
</div>