<div class="container">

    <div class="welcome">
        <h1>Üdvözöllek a SzuperSzínház weboldalán</h1>
        <div class="megtekint" >Megtekintem milyen jelenlegi műsorok vannak</div>
        <button math-flat-button (click)="changePage()">Műsorok</button>
    </div>




    <div class="container2">
        <div>Szeged, Király utca 99.</div>
        <div>Nyitvatartás:</div>
        <div>Hétfő - Péntek: 10:00 - 17:00</div>
        <div>Vasárnap: Zárva</div>
        <div>Telefonszám: +36-30-551-8911</div>
        <div>Email: info&#64;szuperszinhaz.hu</div>
    </div>
</div>