<div class="container">
    <mat-card>
        <mat-card-header>

            <mat-card-title>{{ title }}</mat-card-title>

            <div class="add">
                <input type="text" placeholder="Cím" [(ngModel)]="newShowTitle">
                <input type="text" placeholder="Dátum" [(ngModel)]="newShowDate">
                <input type="text" placeholder="Ár" [(ngModel)]="newShowPrice">
            </div>

            <button class="addButton" (click)="addShow()">Hozzáadás</button>

            <div class="filter">
                <input type="text" placeholder="Cím">
                <input type="text" placeholder="Dátum">
                <input type="text" placeholder="Ár">
            </div>

            <button class="search"><mat-icon>search</mat-icon></button>

        </mat-card-header>

        <mat-card-content>
            <table>
                @for (show of shows; track trackById($index, show)) {
                    <tr>
                        <td>
                            <div class="cim">{{ show.title }}</div>
                            <div class="datum">{{ show.date | dateFormatter }}</div>
                        </td>
                        <td>
                            <div class="ar">{{ show.price }} Ft</div>
                        </td>
                        <td>
                            <button class="vasarlas">Jegyvásárlás</button>
                        </td>
                    </tr>
                }
            </table>
        </mat-card-content>
    </mat-card>
</div>